* {
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

.container .fundo-img {
  width: 100%;
  height: 500px;
}

.container .btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #13087c;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: #1906c2;
}

.container .Nav-nome {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #0a005e;
  font-size: 50px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .escritas-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #0a005e;
  font-size: 20px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .Ondas-inicio {
  background: transparent;
  height: 200px;
  margin-top: -10px;
  width: 100%;
}

.Nav-traço {
  width: 100%;
  height: 70px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  background-color: #0a005e;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 650px) {
  .container img {
    width: 100%;
    height: auto;
  }

  .container .btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #13087c;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .container .Nav-nome {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #0a005e;
    font-size: 27px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }

  .container .escritas-img {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #0a005e;
    font-size: 17px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
  }
}

.Pinturas {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  color: #0a005e;
  font-weight: 800;
  text-align: center;
}
